<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>

	<connectionStrings>
		<!--Desarrollo
		<add name="Conexion" connectionString="User Id=INSUDB;Password=devtime55; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.145)(PORT = 1528)))(CONNECT_DATA = (SERVICE_NAME = VISUALTIME7) ));" />-->
		<!--Calidad
		<add name="Conexion" connectionString="User Id=INSUDB;Password=vtcalidad30; Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.144)(PORT = 1527)))(CONNECT_DATA = (SERVICE_NAME = VISUALTIME7) ));"/>-->
		<!--Pre Producción
		<add name="Conexion" connectionString="User Id=INSUDB;Password=VT1m3#PrT025$; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.16.10)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = VISUALTIME7) ));"/>-->
		<!--Producción-->
		<add name="Conexion" connectionString="User Id=INSUDB;Password=PROT$PROD; Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.107)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = VISUALTIME7) ));" />
		<!--QA TMP
		<add name="Conexion" connectionString="User Id=INSUDB;Password=73Oa5BRwEfXi; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.144)(PORT = 1527)) ) (CONNECT_DATA =  (SERVICE_NAME = REQDBVTIME7) ));"/>-->

	</connectionStrings>
	<appSettings>

		<!--CONEXION SERVIDOR REMOTO NAS DOCUMENTOS-->
		<!--DEV
		<add key="pathNas" value="\\10.10.1.56\"/>
		<add key="usrNAS" value="administrador"/>
		<add key="pwdNAS" value="Nowr8C_EzA"/>-->
		<!--Cambiar _ por &-->
		<!--QA
		<add key="pathNas" value="\\Prtsrvnasapp\QA"/>
		<add key="usrNAS" value="usr_srv_pdqa"/>
		<add key="pwdNAS" value="sTlv$89#xu"/>-->
		<!--PROD-->
		<add key="pathNas" value="\\\\Prtsrvnasapp\\PRD"/>
		<add key="usrNAS" value="usr_srv_pdprd"/>
		<add key="pwdNAS" value="n8MoSti#hu"/>

		<add key="IntervalSendDataEPSJob" value="10000"/>
		<add key="IntervalRestaurarEstadosComprobanteEPS" value="10000"/>
		<add key="IntervalLiberarPolizasEPS" value="10000"/>
		<add key="IntervalDocLaft" value="10000"/>
		<add key="IntervalSendComprobantesEPS" value="10000"/>
		<add key="IntervalSendKushki" value="10000"/>
		<!--KUSHKI SCTR ED -->

		<add key="ExecuteHourUpdate" value="21:45"/>
		<add key="pathLog" value="D:/log/SendEpsGrandia/"/>
		<add key="pathLog1" value="D:/log/SendEpsGrandia/qa/seguimiento/" />
		<add key="pathLog2" value="D:/log/SendEpsGrandia/qa/json/" />
		<add key="pathLog3" value="D:/log/SendEpsGrandia/qa/error/" />

		<!--Ramos-->
		<add key="vidaLeyBranch" value="73"/>
		<add key="sctrBranch" value="77"/>
		<add key="accperBranch" value="61"/>
		<add key="vgrupoBranch" value="72"/>
		<add key="vcreditoBranch" value="71"/>
		<add key="vdevBranch" value="74"/>
		<add key="rentaEstIndiv" value="3"/>
		<add key="rentaEstGrupal" value="7"/>
		<add key="familiar" value="2"/>
		<add key="constanciaProvisional73" value="10_Constancia_provisional.pdf"/>
		<add key="constanciaProvisional77" value="5_Constancia_provisional.pdf"/>
		<add key="exepcionDocument" value="5_Constancia_provisional.pdf;10_Constancia_provisional.pdf;Contrato_EPS.pdf;Constancia_EPS.pdf"/>
		<add key="anexo61" value="apersonales"/>
		<add key="anexo72" value="vgrupo"/>
		<add key="anexosCon58" value="apersonales"/>
		<add key="anexosCon79" value="vgrupo"/>
		<add key="baseUrlWSP" value="https://serviciosqa.protectasecurity.pe/WSKuntur/Api" />
		<!--  QA Se genera documento en el servidor de QA 
		 <add key="baseUrlConvert" value="https://serviciosqa.protectasecurity.pe/Convert2PDF" /> -->
		<!-- Local Se genera documentos en local -->
		<add key="baseUrlConvert" value="http://localhost:35162"/>
		<add key="sendDocumentsFlag" value="1"/>
		<!-- 0 envia 1 No envia -->
		<!-- Comentado para usar la configuración de la tabla  TBL_PD_ELEC_POL_TEMPLATES-->
		<!--add key="nombrePlanillaPL731" value="Póliza Electrónica_Vida Ley_Soles" />
		<add key="nombrePlanillaPL611" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL612" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL613" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL614" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL615" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL616" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL617" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL618" value="Póliza Electrónica_Accidentes_Personales" />
		<add key="nombrePlanillaPL721" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL722" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL723" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL724" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL725" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL726" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL771" value="Póliza Electrónica_SCTR_Soles" />
		<add key="nombrePlanillaPL711" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL712" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL713" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL714" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL715" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL741" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL742" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL743" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL744" value="Póliza Electrónica_Vida_Grupo" />
		<add key="nombrePlanillaPL745" value="Póliza Electrónica_Vida_Grupo" /-->
		<!-- QA 
		<add key="pathImpresion73" value="D:\doc_generated\carga_masiva\qa\"/>
		<add key="pathImpresion71" value="D:\doc_generated\carga_masiva\qa\vcredito\"/>
		<add key="pathImpresion72" value="D:\doc_generated\carga_masiva\qa\vgrupo\"/>
		<add key="pathImpresion61" value="D:\doc_generated\carga_masiva\qa\apersonales\"/>
		<add key="pathImpresion77" value="D:\doc_generated\carga_masiva\qa\sctr\"/>-->

		<!--PROD NAS-->
		<add key="pathImpresion73" value="\\Prtsrvnasapp\PRD\doc_generated\carga_masiva\qa\"/>
		<add key="pathImpresion71" value="\\Prtsrvnasapp\PRD\doc_generated\carga_masiva\qa\vcredito\"/>
		<add key="pathImpresion72" value="\\Prtsrvnasapp\PRD\doc_generated\carga_masiva\qa\vgrupo\"/>
		<add key="pathImpresion61" value="\\Prtsrvnasapp\PRD\doc_generated\carga_masiva\qa\apersonales\"/>
		<add key="pathImpresion77" value="\\Prtsrvnasapp\PRD\doc_generated\carga_masiva\qa\sctr\"/>

		<!-- PROD 
		<add key="pathImpresion73" value="\\PRTSRVS12\carga_masiva\prod\" />
		<add key="pathImpresion71" value="\\PRTSRVS12\carga_masiva\prod\vcredito\" />
		<add key="pathImpresion72" value="\\PRTSRVS12\carga_masiva\prod\vgrupo\" />
		<add key="pathImpresion61" value="\\PRTSRVS12\carga_masiva\prod\apersonales\" />
		<add key="pathImpresion77" value="\\PRTSRVS12\carga_masiva\prod\sctr\" />
		<add key="pathImpresion74" value="\\PRTSRVS12\carga_masiva\prod\vdevolucion\" />-->


		<add key="asuntoPolError" value="Error - Generación de documentos Póliza N° {0}"/>
		<add key="bodyPolError" value="No está generando documentos. El error es: {0}. El código de NIDHEADERPROC es: {1}"/>
		<add key="asuntoCotError" value="Error - Generación de documentos Cotización N° {0}"/>
		<add key="bodyCotError" value="No se generó el slip de cotización. El error es: {0}. El nro de cotización es: {1}"/>
		<add key="iteracciones" value="1;2"/>
		<add key="emailsError" value=""/>

		<!--INTERCONEXION SABSA AVS-->
		<add key="EPSUser" value="admin"/>
		<add key="EPSoPwd" value="$lp2023$"/>
		<add key="urlBaseEPS" value="http://ms-grandia-cotizacion.sabsa.com.pe/"/>
		<add key="LoginEPS" value="auth/login"/>
		<add key="DescargaEPS" value="api/Documentos/Find/"/>
		<add key="grandiaKey" value="3"/>
		<add key="urlTokenEPS_SCTR" value="http://ms-grandia-cotizacion.sabsa.com.pe/auth/login"/>
		<add key="timeout_EPS" value="180"/>
		<add key="urlComprobantes_EPS" value="http://ms-grandia-cotizacion.sabsa.com.pe/emision/comprobante"/>

		<add key="mainNAS" value= "\\Prtsrvnasapp\PRD\doc_generated\" />

		<!--SD-84026-->
		<add key="vidaInversionBranch" value="71" />
		<add key="vigpProduct" value="6" />
		<!--SD-84026-->


	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>